<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="auth-card">
    <h2>회원가입</h2>

    <form th:action="@{/users/join}" th:object="${userCreateRequest}" method="post">
        <div class="form-group">
            <label for="email">이메일</label>
            <input id="email" type="email" th:field="*{email}" placeholder="email@example.com">
            <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>

        <div class="form-group">
            <label for="password">비밀번호</label>
            <input id="password" type="password" th:field="*{password}" placeholder="8~16자 영문, 숫자, 특수문자">
            <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>

        <div class="form-group">
            <label for="password_confirm">비밀번호 확인</label>
            <input id="password_confirm" type="password" th:field="*{confirmPassword}" placeholder="8~16자 영문, 숫자, 특수문자">
            <p class="error" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></p>
        </div>

        <div class="form-group">
            <label for="name">이름</label>
            <input id="name" type="text" th:field="*{name}" placeholder="이름을 입력하세요">
            <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>

        <div class="form-group">
            <label for="phoneNumber">휴대폰 번호</label>
            <input id="phoneNumber" type="text" th:field="*{phoneNumber}" placeholder="01012345678">
            <p class="error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
        </div>

        <button type="submit" class="auth-btn">회원가입</button>
    </form>

    <div class="auth-bottom">
        이미 계정이 있으신가요?
        <a th:href="@{/users/login}">로그인</a>
    </div>
</div>

</body>
</html>