<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>join</title>
</head>
<body>
<form th:action="@{/users/login}" th:object="${loginRequest}" method="post">

    <div class="form-group">
        <label for="email">이메일</label>
        <input id="email" type="email" th:field="*{email}" placeholder="email@example.com">
        <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    </div>

    <div class="form-group">
        <label for="password">비밀번호</label>
        <input id="password" type="password" th:field="*{password}" placeholder="비밀번호를 입력하세요">
        <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    </div>

    <button type="submit" class="auth-btn">로그인</button>
</form>

</body>
</html>