<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Item</title>
</head>
<body>
<h1>Register Item</h1>
<form method="POST" action="/item/register">
    <label>
        <input type="text" name="name" placeholder="Item Name">
    </label>
    <label>
        <input type="text" name="description" placeholder="Item Description">
    </label>
    <label>
        <input type="number" name="price" placeholder="Item Price">
    </label>
    <label>
        <input type="number" name="quantity" placeholder="Item Quantity">
    </label>
    <input type="submit" value="Register">
    <input type="reset" value="Exit">
</form>


</body>
</html>